*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}


@font-face {
    font-family: 'MyIcon';
    src: url("../font/font.woff2");
}
body{
    background-image: url('../image/bg.jpg');
    position: relative;
    text-align: center;
}
.header{
    min-width: 1200px;
    height: 50px;
    background: #191918;
}
.container{
    position: relative;
    width: 1170px;
    height: 50px;
    margin: 0 auto;
    background: #191918;
}

.title{
    float: left;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.menu{
    float: left;
}
.menu > li{
    display: inline-block;
    height: 50px;
    width: 58px;
    color: #eeeeee;
    font-size: 14px;
    line-height: 50px;
}
.menu > li > a{
    color: #eee;
}
.search-bar > input{
    display: inline-block;
    position: absolute;
    height: 22px;
    padding: 5px 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid;
    font-size: 14px;
    top: 50%;
    margin-top: -18px;
    right:  60px;
}

.search-bar > button{
    position: absolute;
    width: 54px;
    height: 34px;
    padding: 5px 10px;
    border-radius: 8px;
    top: 50%;
    margin-top: -18px;
    outline: none;
    color: #555;
    right: 0;
    background: #fff;
}

.content{
    display: inline-block;
    position: relative;
    width: 1170px;
    margin: 30px auto 0px auto;
}

.content_left{
    float: left;
    width: 60%;
    padding: 0px 20px 0px 0px;
    box-sizing: border-box;
}
.content_right{
    float: right;
    width: 34%;
    padding: 0px 0px 0px 0px ;
}


.right_module{
    display: inline-block;
    width: 100%;
    background: #1f1f1f;
    color: #fff;
    border-radius: 10px;
    text-align: left;
    padding: 0 15px 15px 15px;
    margin-bottom: 25px;
}
.right_module>div{
    display: block;
    text-align: left;
    font-size: 14px;
    padding: 15px 5px 15px  0;
    color: dodgerblue;
}
.right_module>a{
    display: inline-block;
    font-size: 14px;
    color: dodgerblue;
    margin-right: 5px;

}
.right_module>ul>li{
    padding: 8px 0;
    border-bottom: 1px solid #292929;
}
.right_module>ul>li>a{
    color: #fff;
}
.right_module>ul>li>div{
    padding: 5px 0;
}
.right_module>ul>li>div> span{
    font-size: 14px;
    color: #fff;
}
.right_module>ul>li>p{
    font-size: 14px;
    color: #777;
}
.right_module>span{
    display: inline-block;
    width: 49%;
    height: 30px;
    margin-top: 10px
}
.right_module>span>a{
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}
.footer{
    width: 100%;
    height:40px;
    background: #191918;
    text-align: center;
    padding: 30px 0;
}
.footer > ul > li{
    display: inline-block;
    color: #a2a2a2;

    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}
.footer > p{
    margin-top: 10px;
    color: #a2a2a2;
    font-size: 14px;
}

.page_tool{
    margin-top: 20px;
    display: inline-block;
}
.page_tool >ul> li{
    display: inline-block;
    background: white;
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid black;
    float: left;
    cursor: pointer;
}
.page_tool >ul> li:hover{
    background: gray;
}

.now_page{
    background: #333 !important;
    color: #fff !important;
}